.add {
  position: relative;
  &__list {
    padding: 10px;
    li {
      cursor: pointer;
      &:hover {
        svg {
          path {
            fill: #000000;
          }
        }
        .add__text {
          color: #000000;
        }
      }
    }
  }
  &__icon {
    svg {
      transform: rotate(45deg);
    }
  }
  &__text {
    color: #868686;
    padding-left: 10px;
  }
  &__popup {
    z-index: 2;
    width: 235px;
    height: 150px;
    background-color: #fff;
    position: absolute;
    left: 28px;
    top: 30px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 5px 5px 15px 5px rgba(#000000, 0.5);
  }
  &__input {
    width: 100%;
    height: 32px;
  }
  &__list-badges {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 13px;
  }
  &__badge {
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
    cursor: pointer;
    &.active {
      border: 2px solid #525252;
    }
  }
  &__btn {
    width: 100%;
  }
  &__closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    cursor: pointer;
  }
}
